.vs/wrestling-empire-data/v17/.wsuo
.vs/wrestling-empire-data/FileContentIndex/2a6c6b37-3006-4e4e-b236-3367d28a0dc4.vsidx
.vs/wrestling-empire-data/FileContentIndex/12f85d69-23b3-4137-bde1-c329c57b7155.vsidx
.vs/wrestling-empire-data/FileContentIndex/02501a35-2e98-4e52-b5ad-593c36d87019.vsidx
.vs/wrestling-empire-data/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/wrestling-empire-data/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/wrestling-empire-data/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/wrestling-empire-data/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
.vs/wrestling-empire-data/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
.vs/wrestling-empire-data/CopilotIndices/17.12.53.23981/CodeChunks.db
.vs/slnx.sqlite
